p {
    font-family: verdana;
    font-size: 15px;
    text-align: center;
  }

h4{
    text-align: center  ;
}

.button{
    text-align: center;
    display: block;
    width: 100%;
    padding: 6px;
    border: none;
    border-radius: 20px;
    background-color: #3b9eff;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.button:hover {
  background-color: #2d6aff;
}

nav {
  display: block;
  text-align: center;
}

h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
  max-width: 350px;
  margin: 0 auto;
}

.title{
  text-align: center;
}
button{
    text-align: center;
}

footer{
    text-align: center;
}